/* Layout of Website */
html{
	background: #d3d3d3;
}
body {
  padding: 0px;
  background: #fff;
  color: #333;
  margin: 0 auto;
  max-width: 900px;
  font: 0.9em "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

a {
  color: #105672;
}

header {
	background: #171e2e;
	padding: .1em 3em;
	color: #fff;
	line-height: 1;
}

header h1{
	margin-top: 0.8em;
	margin-bottom: 0.2;
	letter-spacing: 2px;
	color: rgba(255,255,255,.7);
}

header h1 span{
	display: inline;
	color: rgba(255,255,255,.4);
}

header span{
	display: block;
	color: rgba(255,255,255,.4);
	font-weight: 300;
	margin-bottom: 1em;
}

header nav{
	float: right;
	text-align: right;
}



header nav div div a {
	color: rgba(255,255,255,.4);
	font-size: 1em;
	padding: .3em .5em;
	font-weight: 300;
}
header nav div a{
	color: #fff;
	display: inline-block;
	padding: .3em .8em
}

#login_button{
	margin-top: 0.5em;
	font-weight: 600;

}

header nav div {
	color: #fff;
	padding: .3em .8em;
	font-weight: 600;
}


header nav a:hover, header nav a:focus{
	color: rgba(255,255,255,.6)
}


[role=main]{
	padding:1.5em 3em;
}
article{
	padding: 1em 0;
}
footer{
	background: #333;
	color: #fff;
	padding: .1em 3em;
}

/* Typography */

p{
  font: 0.9em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
pre{
}

img{
	max-width: 100%;
	height: auto;
}


blockquote{
	float: left;
	margin: 1em 3em;
}
blockquote p{
	font-size: 0.9em;
	line-height: 1.2;
	font-weight: 700;
	font-style:italic;
}
a{
	text-decoration: none
}
a:hover, a:focus{
	color: #000;
}
a:active{
	position: relative;
	top:1px;
}



/* Media queries */ 
@media screen and (min-width:900px)
{
	body{font-size: 0.9em;}
}

@media screen and (max-width:600px)
{
	#tabs nav{
			display: none;
			position: relative;
		}
		#tabs #mobiles{
		display:block;
		}
		#tabs article {
		display:block;
		}
}
@media screen and (max-width:480px)
{
	blockquote{
	float: none;
	}

	header nav a{
		padding:.7em .8em
	}
	header nav{
		float: none;
		margin: -.5em -3em 0;
		background: #000;
		overflow: hidden;
		text-align: left
	}
	header nav a{
		border-right: 1px solid #222
	}
	[role=main]{
	padding:1.5em 2em;
	}
	header nav div{
	display: none;
	}

}


/* Menu Horizotal*/
#menu_horizontal{
	position:relative;
	display:block;
	height:39px;
	font-size:13px;
	font-weight:bold;
	background:transparent url(bgOFF.gif) repeat-x top left;
	font-family:Arial,Verdana,Helvitica,sans-serif;
	border-top:4px solid #B30000;
	}

#menu_horizontal ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	}

#menu_horizontal ul li{
	display:block;
	float:left;
	margin:0;
	outline:none;
	}
/*Menu Items*/
#menu_horizontal ul li a{
	display:block;
	float:left;
	color:#666;
	text-decoration:none;
	padding:11px 20px 11px 20px;
	height:23px;
	background:transparent ;
	outline:none;
	}

#menu_horizontal ul li a:hover{
	color:#B30000;
	background:#FAFAD2 ;
	}
#menu_horizontal ul li a.current{
	color:#B30000;
	background:#FAFAD2 ;
	}


#spoiler1 {

	font: 0.8em "Helvetica Neue", Helvetica, Arial, sans-serif;


}



.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 0.9em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: .5em;
	top: .3em;
}


/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
	background-image: url("images/ui-icons_454545_256x240.png");
}
.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
	background-image: url("images/ui-icons_454545_256x240.png");
}
.ui-state-highlight .ui-icon,
.ui-button .ui-state-highlight.ui-icon {
	background-image: url("images/ui-icons_2e83ff_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("images/ui-icons_cd0a0a_256x240.png");
}
.ui-button .ui-icon {
	background-image: url("images/ui-icons_888888_256x240.png");
}
/* positioning */

.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }

/* Component containers
----------------------------------*/

.ui-widget.ui-widget-content {
	border: 1px solid #d3d3d3;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	color: #222222;
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	margin-bottom: 0.5em;
	margin-left:0.5em;

}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
	color: #555555;
	text-decoration: none;
}

.button{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:0.5em;
    color: #555555;

}
.input_field{

	padding: 0px;
}


.label { 
	color:#000; 
	font-size:16px;
	margin-top: 0.5em;
}

 /*For email address protection */
.obfuscated:before {
        content:  attr(domain)  "\0040" attr(name);
        unicode-bidi: bidi-override;
        direction: rtl;
        margin-left: 1em;

}



/*Boxes in about section*/
.box{
	background: #d3d3d3;
	padding:2px;
    	display: inline-block;
	margin:4px 4px 4px 4px;
    	border: 2px solid #ccc; 
    	background-clip: padding-box;
	text-align: center;
	text-indent:0px;

}


#good{

height: 28px;   
}
